
<div class="seller-auth">
    <div class="login">
        <h1>Seller Login</h1>
        <!-- <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)"  class="common-form">
            <input class="form-input" type="email" ngModel name="email" placeholder="Enter Your Email">
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Your Password">
            <button class="form-button">Login</button>
        </form> -->
        <form [formGroup]="ngForm"  class="common-form" (ngSubmit)="onSubmit()">
            <input class="form-input" formControlName="email" type="email"  placeholder="Enter Your Email">
            <input class="form-input" formControlName="password" type="password"  placeholder="Enter Your Password">
            <button class="form-button">Login</button>
        </form>
    </div>
    
    
</div>
<!-- (ngSubmit)="signUp(sellerSignUp.value)" -->